PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/music-api?retryWrites=true&w=majority
NODE_ENV=development
JWT_SECRET=your-super-secret-longer-than-32-characters-key
JWT_EXPIRES_IN=90d
